<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LP_app</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Mathematics/Index.razor">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Aerospace Engineering
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Chemistry/Index.razor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BioMedical Engineering
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Engineering/Index.razor">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> BioTechnology Program
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Engineering/Index.razor">
                <span class="bi bi-listed-fill-nav-menu" aria-hidden="true"></span> Chemistry
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Textiles/Index.razor">
                <span class="bi bi-listed-fill-nav-menu" aria-hidden="true"></span> Data Science
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Physics/Index.razor">
                <span class="bi bi-info-circle-fill-nav-menu" aria-hidden="true"></span> Engineering
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Nuclear_Engineering/Index.razor">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Geospatial Analytics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Aerospace_Engineering/Index.razor">
                <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"></span> Mathematics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/BioMedical_Engineering/Index.razor">
                <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> Nuclear Engineering
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/BioTechnology_Program/Index.razor">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Physics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LP_app/Components/Pages/Data_Science/Index.razor">
                <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Textiles
            </NavLink>
        </div>
    </nav>
</div>

