@page "/Index"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Wilson College of Textiles offers a variety of courses and resources to help you excel in the field of textiles. Explore our programs and join a community dedicated to innovation and excellence in textile education.